<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <h2>Registration Form</h2>
        <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
        <form #myForm="ngForm" *ngIf="!submitted" (ngSubmit) = "onSubmit()" novalidate>
            <div class="row">
                <div class="col-6">
                    <div class="form-group mt-3">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" [class.is-invalid]="name.invalid && name.touched"
                            #name="ngModel" placeholder="Username" name="username" aria-label="Username"
                            aria-describedby="basic-addon1" [(ngModel)]="userModel.name" required>
                        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name required</small>
                    </div>
                    <div class="form-group mt-3">
                        <label for="username">Email</label>
                        <input type="email" class="form-control" [class.is-invalid]="email.invalid && email.touched"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email" name="email"
                            aria-label="Email" aria-describedby="basic-addon1" #email="ngModel"
                            [(ngModel)]="userModel.email" required>
                            <div *ngIf="email.errors || (email.invalid || email.touched)">
                                <small *ngIf="email.errors.required" class="text-danger" [class.d-none]="email.valid || email.untouched">Email required </small>
                                <small *ngIf="email.errors.pattern" class="text-danger" [class.d-none]="email.valid || email.untouched">Enter valid email</small>
                            </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="username">Designation</label>
                        <input type="text" class="form-control" placeholder="Designation" name="designation"
                            aria-label="Designation" aria-describedby="basic-addon1"
                            [(ngModel)]="userModel.designation">
                    </div>
                </div>
                <div class="col-6">
                    <label class="me-4">Gender </label>
                    <div class="form-check form-check-inline mt-3">
                        <input class="form-check-input" type="radio" id="inlineCheckbox1" name="gender" value="male"
                            [(ngModel)]="userModel.gender">
                        <label class="form-check-label" for="inlineCheckbox1">Male</label>
                    </div>
                    <div class="form-check form-check-inline mt-3">
                        <input class="form-check-input" type="radio" id="inlineCheckbox2" name="gender" value="female"
                            [(ngModel)]="userModel.gender">
                        <label class="form-check-label" for="inlineCheckbox2">Female</label>
                    </div>
                    <div class="form-group mt-3">
                        <label for="">I'm interested in...</label>
                        <select class="form-select" id="inputGroupSelect01" name="interested course" (blur) ="validateCourse(myCourse.value)" (change) ="validateCourse(myCourse.value)"
                            [(ngModel)]="userModel.course" required #myCourse = 'ngModel' [class.is-invalid] = "courseHasError && myCourse.touched">
                            <option value="default">Choose...</option>
                            <option *ngFor="let x of courses">{{x}}</option>
                        </select>
                        <small class="text-danger" [class.d-none] ="!courseHasError || myCourse.untouched"> Choose any Course</small>
                    </div>
                    <div class="form-check form-check-inline mt-3">
                        <input class="form-check-input" type="checkbox" id="rememberme" name="rememberme" checked
                            [(ngModel)]="userModel.remember">
                        <label class="form-check-label" for="rememberme">Remember Me</label>
                    </div>
                </div>
            </div>
            <button [disabled] = "myForm.form.invalid || courseHasError" class="btn btn-primary mt-3">Register</button>
        </form>
        <!-- <div class="myFormData">
            {{myForm.form.valid}}
        </div> -->
    </div>
</body>

</html>